.gameArea {
    position: relative;
    margin: 50px auto;
    width: 900px;
    height: 600px;
    border: 1px solid rgb(26, 241, 141);
}


/* -webkit-animation: line-glitchy 0.3s ease 0.3s infinite;
animation: line-glitchy 0.3s ease 0.3s infinite; */
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}

@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}

@-webkit-keyframes line-glitchy {
  0% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  25% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  50% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  75% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
}

@keyframes line-glitchy {
  0% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
  25% {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  50% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  75% {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(-1px, 1px);
            transform: translate(-1px, 1px);
  }
}

.stats {
    position: relative;
    float: left;
    color: white;
    display: inline-block;
}

img {
    position: relative;
    float: left;
    width: 80%;
    height: 80%;
}

h3 {
    position: absolute;
}